@using System.Web.Mvc.Html
@model IEnumerable<BackendModel.CustomerDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Customers";
}

<h1><u>List of Customers with Orders</u></h1>

<ul>
    @foreach (var customer in ViewBag.Customers)
    {
        <li><h2><b>@customer.CustomerObject.Name</b> (id:<b>@customer.CustomerObject.Id</b>)</h2></li>
        <ul>
            @foreach (var order in customer.CustomerObject.Orders)
            {
                <li><h3><b>@order.Item</b> (id:<b>@order.OrderId</b>)</h3></li>
            }
        </ul>
    }
</ul>

<b>@Html.ActionLink("Add a new customer", "NewCustomer")</b>
